<div class="body">

<div class="container">


  <p class="text-center" >Elenco TARIFFE</p>

  <table class="table table-bordered table-hover">
    <!-- HEAD -->
    <thead class="table-light">
      <tr><!-- riga -->
        <th scope="col">id</th><!-- celle header -->
        <th scope="col">nome_corriere</th>
        <th scope="col">nome_tariffa</th>
        <th scope="col">peso_max</th>
        <th scope="col">costo</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <!-- BODY -->
    <tbody>
      <tr *ngFor="let item of tariffe;" >
        <td>{{item.id}}</td>
        <td>{{item.nome_corriere}}</td>
        <td>{{item.nome_tariffa}}</td>
        <td>{{item.peso_max}}</td>
        <td>{{item.costo}}</td>
        <td> <button (click)="deleteOneRate(item)">Elimina tariffa</button> </td>
     </tr>

    </tbody>
  </table>

  <div class="formContainer">

    <div class="formDiv mt-5">
      <p class="text-center mb-5">Inserisci una nuova TARIFFA</p>
      <div class="row mb-2">
        <label class="col-6"> Nome corriere </label>
        <input class="col-6" #nomeCorriere placeholder="Nome corriere"><br>
      </div>

      <div class="row mb-2">
        <label class="col-6" > Nome tariffa </label>
        <input class="col-6" #nomeTariffa placeholder="Nome tariffa"><br>
      </div>

      <div class="row mb-2">
        <label class="col-6" > Peso max </label>
        <input class="col-6" type="number" #pesoMax placeholder="Peso max"><br>
      </div>

      <div class="row mb-2">
        <label class="col-6" > Costo </label>
        <input class="col-6" type="number" #costo placeholder="Costo"><br>
      </div>


      <p class="text-center mt-5">
        <button class="justify-content-center" type="button" (click)="addNewRate(
          nomeCorriere.value,
          nomeTariffa.value,
          pesoMax.valueAsNumber,
          costo.valueAsNumber)" data-bs-toggle="modal" data-bs-target="#exampleModal">
          save
        </button>
      </p>


    </div>

  </div>

<!--   <label > Nome corriere </label>
  <input #nomeCorriere placeholder="Nome corriere"><br>
  <label > Nome tariffa </label>
  <input #nomeTariffa placeholder="Nome tariffa"><br>
  <label > Peso max </label>
  <input type="number" #pesoMax placeholder="Peso max"><br>
  <label > Costo </label>
  <input type="number" #costo placeholder="Costo"><br>

  <button type="button" (click)="addNewRate(
    nomeCorriere.value,
    nomeTariffa.value,
    pesoMax.valueAsNumber,
    costo.valueAsNumber)" data-bs-toggle="modal" data-bs-target="#exampleModal">
    save
  </button> -->





<!--   MODALE

<div *ngIf="missingData" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" >
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  Dievi riempire tuti i campi per poter salvare
</div>
</div>
</div>
</div> -->


<!-- <button type="button" (click)="goBack()">Go back</button>
 -->



</div>



</div>
