.container {
  padding-top: 100px;
  padding-bottom: 100px;
  }

.form{
  display: flex;
  justify-content: center;
}

// .body {
//   // background: url("./fe_angular_esameFinale/src/assets/images/Flare.jpg");
//   background: url("../../../assets/images/Flare.jpg");
//   min-height: 100vh;
// }



.formContainer {
  display: flex;
  justify-content: center;
}

.formDiv {
  padding: 50px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: white;
}

.rowInput {
  display: flex;
  justify-content:end;
}

td {
background-color: white;
}
