.homepage {
  border: 1px solid black;
  margin-top: 50px;
  height: 400px;
}


.elencoFiglio {
  border: 1px solid grey;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}

.rowElenchi {
  display: flex;
  justify-content: space-around;
}
